<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">
  <item label="_terminal">
    <action name="Execute"><execute>urxvt</execute></action>
  </item>
  <item label="bro_wser">
    <action name="Execute"><execute>qutebrowser</execute></action>
  </item>
  <!-- This requires the presence of the 'openbox-menu' package to work -->
  <!-- <menu id="/Debian" /> -->
  <separator />
  <menu id="applications-menu" label="_applications">
    <item label="_firefox">
      <action name="Execute"><execute>firefox</execute></action>
    </item>
    <!-- <item label="_thunar"> -->
    <!--   <action name="Execute"><execute>thunar</execute></action> -->
    <!-- </item> -->
    <item label="_caja">
      <action name="Execute"><execute>caja</execute></action>
    </item>
    <item label="_blender">
      <action name="Execute"><execute>blender</execute></action>
    </item>
    <item label="_gimp">
      <action name="Execute"><execute>gimp</execute></action>
    </item>
    <item label="_inkscape">
      <action name="Execute"><execute>inkscape</execute></action>
    </item>
  </menu>
  <!-- <menu id="applications-menu" label="Applications" execute="openbox-menu -i lxde-applications.menu"/> -->
  <menu id="utilities-menu" label="_utilities">
    <item label="_volume">
      <action name="Execute"><execute>pavucontrol</execute></action>
    </item>
    <item label="_bluetooth">
      <action name="Execute"><execute>blueman-manager</execute></action>
    </item>
    <menu id="redshift-menu" label="_redshift">
      <item label="_on">
        <!-- TODO make util that pkills and runs redshift -->
        <action name="Execute"><execute>redshift -t 6400:4000</execute></action>
      </item>
      <item label="o_ff">
        <action name="Execute"><execute>pkill redshift</execute></action>
      </item>
    </menu>
    <!-- <menu id="backlight_menu" label="back_light"> -->
    <!--   <!-1- TODO: make script to set xbacklight and send notification, call here -1-> -->
    <!--   <item label="100%"> -->
    <!--     <action name="Execute"><execute>xbacklight -set 100</execute></action> -->
    <!--   </item> -->
    <!--   <item label="90%"> -->
    <!--     <action name="Execute"><execute>xbacklight -set 90</execute></action> -->
    <!--   </item> -->
    <!--   <item label="80%"> -->
    <!--     <action name="Execute"><execute>xbacklight -set 80</execute></action> -->
    <!--   </item> -->
    <!--   <item label="70%"> -->
    <!--     <action name="Execute"><execute>xbacklight -set 70</execute></action> -->
    <!--   </item> -->
    <!--   <item label="60%"> -->
    <!--     <action name="Execute"><execute>xbacklight -set 60</execute></action> -->
    <!--   </item> -->
    <!--   <item label="50%"> -->
    <!--     <action name="Execute"><execute>xbacklight -set 50</execute></action> -->
    <!--   </item> -->
    <!--   <item label="40%"> -->
    <!--     <action name="Execute"><execute>xbacklight -set 40</execute></action> -->
    <!--   </item> -->
    <!--   <item label="30%"> -->
    <!--     <action name="Execute"><execute>xbacklight -set 30</execute></action> -->
    <!--   </item> -->
    <!--   <item label="20%"> -->
    <!--     <action name="Execute"><execute>xbacklight -set 20</execute></action> -->
    <!--   </item> -->
    <!--   <item label="10%"> -->
    <!--     <action name="Execute"><execute>xbacklight -set 10</execute></action> -->
    <!--   </item> -->
    <!-- </menu> -->
    <item label="_magnify">
      <action name="Execute"><execute>xmag -source 150x150</execute></action>
    </item>
    <menu id="screenshot-menu" label="_screenshot">
      <item label="_full screen">
        <action name="Execute"><execute>scrot '%Y-%m-%d_%H%M%S.png' -d 1 -e 'mv $f ~/screenshots/ ; notify-send "screenshot saved" "~/screenshots/$f"'</execute></action>
      </item>
      <item label="_selection">
        <action name="Execute"><execute>scrot '%Y-%m-%d_%H%M%S.png' -d 1 -e 'mv $f ~/screenshots/ ; notify-send "screenshot saved" "~/screenshots/$f"' -s</execute></action>
      </item>
      <item label="_active window">
        <action name="Execute"><execute>scrot '%Y-%m-%d_%H%M%S.png' -d 1 -e 'mv $f ~/screenshots/ ; notify-send "screenshot saved" "~/screenshots/$f"' -u</execute></action>
      </item>
    </menu>
    <item label="re_configure">
      <action name="Reconfigure" />
    </item>
    <!-- <item label="Restart"> -->
    <!--   <action name="Restart Openbox" /> -->
    <!-- </item> -->
  </menu>
  <!-- <menu id="battery-menu" label="_battery" execute="battery_pipemenu"/> -->
  <menu id="updates-menu" label="u_pdates" execute="updates_pipemenu"/>
  <separator />
  <menu id="exit-menu" label="e_xit">
    <item label="s_uspend">
      <action name="Execute">
        <execute>systemctl suspend</execute>
      </action>
    </item>
    <item label="loc_k">
      <action name="Execute">
        <execute>xfce4-screensaver-command --lock</execute>
      </action>
    </item>
  <separator />
  <item label="_reboot">
    <action name="Execute">
      <prompt>Are you sure you want to reboot?</prompt>
      <execute>systemctl reboot</execute>
    </action>
  </item>
  <item label="_shutdown">
    <action name="Execute">
      <prompt>Are you sure you want to shutdown?</prompt>
      <execute>systemctl poweroff</execute>
    </action>
  </item>
  <item label="_log out">
    <action name="Exit" />
  </item>
  </menu>

  </menu>
</openbox_menu>
