URxvt.font: xft:tewiotb:pixelsize=11:antialias=false
URxvt.boldFont: xft:tewiotb:pixelsize=11:antialias=false
URxvt.internalBorder: 20
URxvt.geometry: 100x30
URxvt.scrollBar: false
URxvt*buffered: false
URxvt.cursorBlink: true
URxvt.cursorColor: #333333
URxvt.iconFile: /usr/share/icons/Numix-Circle/48/apps/terminal.svg
Urxvt.letterSpace: 1

! Colors
*background:  #752323
*foreground:  #1A1A1A
*color0:      #1A1A1A
*color8:      #333333
*color1:      #480000
*color9:      #480000
*color2:      #4F5A4D
*color10:     #4F5A4D
*color3:      #AC8E50
*color11:     #AC8E50
*color4:      #16354F
*color12:     #16354F
*color5:      #3E2C4E
*color13:     #3E2C4E
*color6:      #245968
*color14:     #245968
*color7:      #752323
*color15:     #E6E6E6
