#include "/home/tk/colors/hemoglobin"

! URxvt
! URxvt.font: xft:scientifica:size=11
! URxvt.boldFont: xft:scientifica:size=11
URxvt.font: xft:tewi:size=8
URxvt.boldFont: xft:tewi:size=8
URxvt.internalBorder: 20
URxvt.geometry: 100x30
URxvt.scrollBar: false
URxvt*buffered: false
URxvt.cursorBlink: true
URxvt.cursorColor: red
URxvt.iconFile: /usr/share/icons/Numix-Circle/48/apps/urxvt.svg

! DPI/Font
Xft.dpi: 96
Xft.autohint: 1
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! Colors
*background:   bg
*foreground:   fg
*color0:      blk
*color8:      bblk
*color1:      red
*color9:      bred
*color2:      grn
*color10:     bgrn
*color3:      ylw
*color11:     bylw
*color4:      blu
*color12:     bblu
*color5:      mag
*color13:     bmag
*color6:      cyn
*color14:     bcyn
*color7:      wht
*color15:     bwht
